# Add these in Vercel -> Project Settings -> Environment Variables
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_xa1iexw
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_qoool3c
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=AQxmCY4sNWqdAc--m
